src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

    <flow name="db-sapi-main">
        <http:listener config-ref="db-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="db-sapi-config" />
		<error-handler ref="error-framework-db-Error_Handler" />

    </flow>
    <flow name="db-sapi-console">
        <http:listener config-ref="db-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="db-sapi-config" />
		<error-handler ref="error-framework-db-Error_Handler" />

    </flow>
    <flow name="put:\sapi\db\accounts:application\json:db-sapi-config">
		<flow-ref doc:name="update-db-account-dbsapi" doc:id="37cc6eb2-b700-4fef-a6f1-219391030bbe" name="update-db-account-dbsapi"/>
    </flow>
    <flow name="get:\sapi\db\accounts\(id):db-sapi-config">
		<flow-ref doc:name="getById-account-dbsapi" doc:id="ffee2c04-a02a-4c7f-ba76-f991913772fc" name="getById-account-dbsapi"/>
    </flow>
    <flow name="post:\sapi\db\accounts:application\json:db-sapi-config">
		<flow-ref doc:name="post-account-dbsapi" doc:id="2af7d5bf-881f-4a61-927c-a587e3b06c4b" name="post-account-dbsapi"/>
    </flow>
</mule>
